{{#modules}}{{#classes}}#{{#if ../name}}{{../../name}}/{{/if}}{{name}}

{{{description}}}{{#if examples}}

####Example
{{{examples}}}{{/if}}{{#if extends}}

**Extends**: {{extends}}{{/if}}{{#if uses}}  
**Uses**: 
{{#uses}}* {{this}}
{{/uses}}{{/if}}{{#if properties}}

##Properties {{#properties}}

### {{name}}

<table>
    <tr>
        <th>Property</th><th>Type</th><th>Description</th>{{#if default}}<th>Default</th>{{/if}}
    </tr>
    <tr>
        <td>{{name}}</td><td><em>{{type}}</em></td><td>{{description}}</td>{{#if default}}<td>{{default}}</td>{{/if}}
    </tr>
</table>{{#if examples}}

#### Example
{{{examples}}}{{/if}}{{/properties}}{{/if}}{{#if methods}}

##Methods{{#methods}}

###{{name}}{{#if description}}

{{description}}{{/if}}{{#if chainable}}

**Chainable**: {{chainable}}{{/if}}{{#if returns}}

**Returns**: _{{returns.type}}_ - {{returns.description}}{{/if}}{{#if params}}

**Params**:
<table>
    <tr>
        <th>Name</th><th>Type</th><th>Description</th>
    </tr>{{#params}}
    <tr>
        <td>{{name}}</td><td><em>{{type}}</em></td><td>{{description}}</td>
    </tr>{{/params}}
</table>
{{/if}}{{#if examples}}

####Example
{{{examples}}}{{/if}}{{/methods}}{{/if}}

{{/classes}}{{/modules}}