{{#modules}}{{#classes}}#{{#if ../name}}{{../../name}}/{{/if}}{{name}}

{{{description}}}{{#if examples}}

####Example
{{{examples}}}{{/if}}{{#if extends}}

**Extends**: {{extends}}{{/if}}{{#if uses}}  
**Uses**: 
{{#uses}}* {{this}}
{{/uses}}{{/if}}{{#if properties}}

##Properties
<table>
    <tr>
        <th>Property</th><th>Type</th><th>Description</th><th>Default</th>
    </tr>{{#properties}}
    <tr>
        <td>{{name}}</td><td><em>{{type}}</em></td><td>{{description}}</td><td>{{default}}</td>
    </tr>{{/properties}}
</table>{{/if}}{{#if methods}}

##Methods{{#methods}}

###{{name}}{{#if description}}

{{description}}{{/if}}{{#if chainable}}

**Chainable**: {{chainable}}{{/if}}{{#if returns}}

**Returns**: _{{returns.type}}_ - {{returns.description}}{{/if}}{{#if params}}

**Params**:  
{{#params}}*   {{name}} _{{type}}_

    {{{description}}}
{{/params}}{{/if}}{{#if examples}}
####Example
{{{examples}}}{{/if}}{{/methods}}{{/if}}

{{/classes}}{{/modules}}